@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base{
   @font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-VariableFont_wght.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style:normal;
   }
   body{
      @apply font-quicksand
   }
}